.card-header {
    background-color: rgb(230,209,168);
    background-image: linear-gradient(to top right, rgb(238, 231, 215),rgb(226, 180, 62), rgb(230,209,168),);
    width: 100%;
    font-weight: bolder;
}
.card-body {
    background-color: rgba(230, 209, 168, 0.281);
    // border: 1px solid rgba(214, 211, 211, 0.746);
    border-radius: 0 0 4px 4px;
    padding: 3em;

}
