.card-header {
    background-color: rgba(214, 211, 211, 0.746);
    width: 100%;
    font-weight: bolder;
}
.card-body {
    background-color: rgba(241, 238, 238, 0.746);
    border: 0.75px solid rgba(214, 211, 211, 0.746);
    border-radius: 0 0 4px 4px;
    padding: 3em;

}
