

// Body
$body-bg: rgba(231, 204, 172, 0.164);

// Typography
$font-family-sans-serif: 'Lora', 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Text
.text-danger {
    color: #e3342f !important;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }