// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Mono&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~summernote/dist/summernote-bs4.css';

//Components
@import 'components/buttons';
@import 'components/messages';

// Pages
@import 'pages/posts';
@import 'pages/auth';

body {
    max-width: 1200px;  
    margin-left: auto;
    margin-right: auto;  
    border-left: 0.8px solid rgba(189, 121, 33, 0.301);
    border-right: 0.8px solid rgba(189, 121, 33, 0.301);
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .py-4 {
        min-height: 35rem;
        width: 100%;
    }
    p {
        font-size: 0.9rem;
    }
    /* turn it off completely */
select:active, select:hover {
    outline: none
  }
  
  /* make it red instead (with with same width and style) */
  select:active, select:hover {
    outline-color: red
  }
}
    .btn-container {
        padding: 0.5em;
        background-color: rgba(202, 199, 199, 0.685);
        border-radius: 4px;
        display: inline-block;
    }
    .attention {
        border-radius: 4px;
        padding: 0.5rem;
    } 
    // Pagination
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        font-size: 1.1rem;
        background-color: #9e9d9d;
      }
      .page-link {
        color: #414141;
        line-height: 1.25;
        font-size: 1rem;
      }
     
    img {
        max-width: 100%;
        height: 100%;
    } 
    .text-background {
        background-color: rgba(212, 208, 208, 0.424);
        color: rgb(80, 79, 79);
        border-radius: 4px;

        p {
            text-align: justify;
            padding-right: 0.5rem;
        }
    }

    #navbar {
        background-color: rgb(231, 208, 166);
        background-image: linear-gradient(to top right, rgb(238, 231, 215),rgb(226, 180, 62), rgb(230,209,168),);
        border-radius: 4px;
    }

    .dropdown-menu {
        background-color:  rgb(231, 208, 166);

    }
    .nav-link  {
        font-size: 1.1rem;
        font-weight: 700;
    } 
    
    p, a, .nav-item, .form-group label {
        transition: text-shadow 1s;

        button {
            font-size: 1.05rem;
        }
    }

.dropdown-item {
    font-size: 1em;

    &:hover {
        background-color: #FFED4A;
    }
}

li {
    list-style-type: none;
}

div.li-spacer {
    padding-top: 2em;
    height: 2em;
}

.even-odd:nth-child(odd){
    background-color: rgba(218, 213, 213, 0.842);    
    border-radius: 4px;
}
.even-odd:nth-child(even){
    background-color: rgb(233, 232, 232);
    border-radius: 4px;
}

.posts-bg {
    background-color: rgba(212, 208, 208, 0.424);
    border-radius: 4px; 
    width: 100%;
    height: 100%;
    padding: 2em;
    margin-bottom: 2em;
}

.grid-form-container {
    color: rgb(68, 62, 62);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "article-item1 article-item2";
        justify-items: start;
    
    #grid-form-item1 {
        justify-self: end;
        grid-area: article-item1;
        margin-right: 2rem;
    }
    #grid-form-item2 {
        justify-self: start;
        grid-area: article-item2;
    }

}
footer {  
    .container {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: 25% 25% 45% ;
        grid-template-areas:
        "footer-section1 footer-section2 footer-section3"
        "footer-section4 footer-section4 footer-section4";

        #footer-section1 {
            grid-area: footer-section1;
            justify-self: center;
        }
        #footer-section2 {
            grid-area: footer-section2;
            justify-self: center;
        }
        #footer-section3 {
            grid-area: footer-section3;
            justify-self: end;
        }
        #footer-section4 {
            grid-area: footer-section4;
        }
    }
}