.edit-icon {
    margin-left: 10px;
    color: rgb(8, 8, 8) !important;
    font-size: 1.25em !important;
    text-shadow: 2px 2px 1px rgb(248, 232, 11);
}

.delete-icon {
    margin-right: 7px;
    color: rgb(192, 19, 19) !important;
    font-size: 1.4em !important;
}

.create-user-icon {
    color: rgb(44, 209, 15) !important;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black ;
    font-size: 1.25em !important;
}